Options FollowSymLinks
Options +MultiViews

RewriteEngine on

# If request for a demo, redirect to _demo...

RewriteRule ^demo/(.*) _demo/$1

# ... otherwise direct all requests to assets dir: 

RewriteCond $1 !^_docs/\.assets/
RewriteCond $1 !^_demo/
RewriteRule ^(.+) _docs/.assets/$1

# If file/dir exists, serve that directly...

RewriteCond %{REQUEST_FILENAME} -d [OR]
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule  ^.*$  -  [L]

# ... otherwise, delegate to front controller:

RewriteRule ^.*$	index.php [L]