/*
print stylesheet.
@version SVN: $Id$
*/

/* basic print styles */

body
{
background: white;
color: black;
font-family:Georgia,Utopia,Palatino,'Palatino Linotype',serif;
font-size: 12pt;
  /* serif fonts render better in print than sans-serif, and specifying 12pt
     sets a reasonable print-friendly size. */
}

.not-printed
{
display: none;
}

a:link, a:visited
{
color: #520;
background: transparent;
font-weight: bold;
text-decoration: underline;
/* this gives the links a color dark enough to be close to black in grayscale output,
   while still using a dark red that will show up on a color printout. The boldfacing
   and underlining ensure that the text of the links will stand out. */
}

a:link:after, a:visited:after
{
/*
content: " (" attr(href) ") ";
font-size: 90%;
   in a fully CSS2-conformant browser, we can parenthetically insert the URLs of the
   links after each one */
}

/*
Headers
*/

h1, h2, h3
{
background: transparent;
color: black;
padding-bottom: 1px;
border-bottom: 1px solid #000;
font-weight: bold;
}

h1
{
font-size: 16pt;
margin: 10px 0;
border-bottom: 3px solid #000;
}

h2
{
font-size: 14pt;
}

h3
{
font-size: 12pt;
border-bottom: none;
}

/*
Plain tables.
*/

table,td,th
{
border:1px solid #000;
border-collapse:collapse;
margin:0;
padding:0;
}

td,th
{
padding:.2em .5em;
vertical-align:top;
font-weight:normal;
}

th
{
text-transform:uppercase;
}

caption
{
text-align:left;
}

/*
style ltu.co.uk specific areas
*/

#header, #footer
{
display: none;
}
