/*
Screen styles
@version SVN: $Id$
*/

/*
Main sections
*/

body
{
padding-top: 6em;
  /* this makes room for the absolutely positioned header */
color: #000;
line-height: 1.25;
font-size: 100%;
font-family: Arial,Helvetica,sans-serif;
text-align: center;
background-color: #eae1d8;
}

.inner
{
width: 960px;
text-align: left;
margin: 0 auto;
}

#header
{
height: 6em;
width: 100%;
position: absolute;
top:0;
left:0;
background: #fff;
}

#main
{
border-top: 5px solid #d6cdc0;
background-color: #fff;
}

    #main .secondary
    {
    border-left: 5px solid #d6cdc0;
    padding-top: 0.5em;
    }

#footer
{
border-top: 1px solid #ada294;
color: #464646;
}

#features
{
background-color: #d6cdc0;
padding: 1em 0;
color: #464646;
}

/*
Grid
*/

.primary
{
width: 65%;
float: left;
}

  .primary .wide
  {
  z-index: 10;
  width: 153.8%; /* 1/.65 */
  }

.secondary
{
width: 32.9%;
float: right;
}

.box
{
padding-left: 1em;
}

/*
Basic Styles
*/

a:link, a:visited
{
color: #08c;
text-decoration: none;
}

a:hover, a:active
{
text-decoration: underline;
}

strong, em
{
font-weight: bold;
}

p, table
{
margin: 1em 0;
}

h1
{
font-size: 1.5em;
margin: 0.5em 0;
}

h2
{
font-size: 1.25em;
margin-top: 0.5em;
}

h3
{
font-size: 1.063em;
margin-top: 1em;
font-weight: bold;
}

abbr, acronym
{
border-bottom: 0.06em dashed #696969;
cursor: help;
}

/*
Main content
*/

#main ol, #main ul
{
margin: 0.5em 0;
}

    #main .primary ul, #main .primary ol
    {
    margin-left: 2em;
    }

#main li
{
margin: 0.3em 0;
}

    #main .primary ul li
    {
    list-style: square outside;
    }

    #main .primary ol li
    {
    list-style: decimal outside;
    }

/*
Header
@see http://veerle.duoh.com/blog/comments/simple_scalable_css_based_breadcrumbs/
*/

#header h2
{
margin-top: 5px;
float: left;
font-size: 1em;
line-height: 2em;
font-weight: normal;
}

  #header h2 a
  {
  display: block;
  font-size: 1.125em;
  padding-left: 40px;
  background: url('../img/background/logo.gif') top left no-repeat;
  }

#crumbs
{

border-top: none;
height:2.3em;
float: right;
padding-left: 32px;
background:url('../img/icon/crumbs.png') no-repeat left center;
}
#crumbs li
{
float:left;
line-height:2.3em;
background:url('../img/background/crumbs.gif') no-repeat right center;
padding:0 15px 0 .75em; /* leave space for graphic */
}
#crumbs li:last-child, #crumbs li.last
{
background-image: none;
}

/*
Main Nav
*/

#nav
{
background-color: #f2eae0;
width: 100%;
position: absolute;
left: 0;
top: 2.3em;
border-bottom: 1px #ada294 solid;
border-top: 0.2em solid #08c;
}

  #nav .inner
  {
  position: relative;
  height: 3.5em;
  }

    #nav ul
    {
    position: absolute;
    bottom: -1px;
    left: 0;
    }

      #nav ul li ul
      {
      bottom: auto;
      }

    #nav ul li
    {
    float: left;
    margin: 0;
    text-align: center;
    position: relative;
    }

      #nav ul li a
      {
      display: block;
      text-decoration: none;
      padding: 0.7em 1em;
      margin-right: 0.3em; /* gap between tabs */
      border: 1px solid transparent;
      font-weight: bold;
      color: #464646;
      background-color: #eae1d8;
      border-bottom: 1px solid #ada294;
      outline: 0;
      }
      * html #nav ul li a
      {
      border: 1px solid #eae1d8;
      border-bottom: 1px solid #ada294;
       /* emulate transparent border in IE6 */
      }

        #nav ul li a:hover, #nav li.cur a, #nav ul li:hover a
        {
        background-color: #d6cdc0;
				border: 1px solid #ada294;
        border-bottom: 1px solid #d6cdc0;
        color: #000;
        }

        #nav ul li.parent a
        {
        background-image: url('../img/background/nav_parent.gif');
        background-position: center right;
        background-repeat: no-repeat;
        padding-right: 20px;
        }

          #nav ul li.parent ul li a
          {
          background-image: none;
          padding-right: 0.7em;
          }

/*
Sub-nav (drop-downs)
  These require li:hover property. This is not support in IE and a javascript
  fix must be enabled to put the .hover class on li objects on mouseover.
*/

#nav li ul
{
position: absolute;
left: -9999px;
border: 1px solid #ada294;
border-top: none;
margin: 0;
padding: 0;
}

  #nav li:hover ul, #nav li.hover ul
  {
  left: 0;
  border-top: none; /* this declaration is here to get round an IE bug where it
                   doesn't show the menu unless it is forced to refresh something
                   other than the placement. */
  }

#nav ul li ul li
{
text-align: left;
}

  #nav ul li ul li a, #nav ul li:hover ul li a
  {
  width: 14em;
  font-weight: normal;
  border: none;
  margin: 0;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  background-color: #d6cdc0;
  color: #464646;
  }

    #nav ul li ul li a:hover, #nav ul li ul li:hover a
    {
    background-color: #eae1d8;
    border: none;
    color: #000;
    }

    #nav ul li ul li.cur a
    {
      color: #000;
      text-decoration: underline;
    }

/*
Footer
*/

#footer a
{
color: #464646;
}

#footer h2
{
font-size: 1.5em;
margin-top: 0.5em;
}

#footer .primary ul
{
width: 49.8%;
float: left;
border-left: 1px dotted #464646;
}

  #footer .primary ul.first
  {
  border: none;
  }

    #footer .primary ul.first li
    {
    margin-left: 0;
    }

  #footer .primary ul li
  {
  font-weight: bold;
  margin: 1em 0 1em 1em;
  }

    #footer .primary ul li ul
    {
    float: none;
    width: 100%;
    border-left: none;
    }

      #footer .primary ul li ul li
      {
      font-weight: normal;
      margin: 0;
      }

#footer .secondary
{
margin-top: 3.5em;
border-left: 1px dotted #464646;
}

  #footer .secondary ul
  {
  padding-left: 1em;
  margin-bottom: 10em;
  }

    #footer .secondary ul li
    {
    font-size: 1.167em;
    margin: 1em 0;
    font-weight: bold;
    }

  #footer .secondary p
  {
  margin: 1em 0 1em 1em;
  }

/*
Features
*/

#features a
{
color: #464646;
}

#features p
{
margin: 0;
font-weight: bold;
clear: both;
}

#features ul
{
margin: 0.5em 0;
}

    #features ul li
    {
    width: 33.2%;
    float: left;
    }

      #features ul li.next, #features ul li.prev
      {
      width: 49%;
      margin-bottom: 1em;
      }

        #features ul li.next { float: right; }

      #features ul li a
      {
      display: block;
      font-size: 1.125em;
      }

      #features ul li a span
      {
      display: block;
      font-size: 0.8em;
      }

/*
Code styling.
*/

code, div.code p, pre
{
font-family: Monaco,"Andale Mono","Courier New",monospace;
font-size: 100%;
}

div.code, pre
{
margin: 1em 0;
}

#main pre
{
padding: 0.5em 0;
border-top: 2px solid #d6cdc0;
border-bottom: 2px solid #d6cdc0;
}

#main .primary div.code p
{
margin: 0;
float:right;
color: #fff;
background-color: #783030;
}

#main .primary div.code ol
{
font: 1em/1.25em 'courier', monospace;
margin:0;
padding:0.3em 0;
color: #ccc;
border-top: 2px solid #d6cdc0;
border-bottom: 2px solid #d6cdc0;
}

#main .primary div.code ol li
{
list-style-position: outside;
list-style-type: decimal;
margin: 0 0 0 2.2em;
padding: 0;
}

#main .primary div.code ol li code
{
padding-left:0.5em;
white-space:pre;
color: #000;
}

#main .primary div.code ol li.even
{
background:#f5f5f5;
}

.tag { color: red; }
.comment { color: #999; }
.keyword { color: blue; }
.string { color: green; }
.variable { color: brown; }
.number { color: red; }
.inline-content { color: #783030; }

/*
Class docs
*/

.class-doc .summary
{
display: block;
margin: 0.3em 0 0 0;
color: #aaa;
}

    .class-doc h1 span.summary
    {
    font-size: 80%;
    }

/*
Notice messages
@see Pry System Icons
@see Knob Icons
*/

.info, .success, .warning, .error, .download
{
border: 1px solid;
margin: 10px 0px;
padding: 0.5em 0.5em 0.5em 50px;
background-repeat: no-repeat;
background-position: 10px center;
}

.info a, .success a, .warning a, .error a
{
color: inherit;
}

.info
{
color: #00529B;
background-color: #BDE5F8;
background-image: url('../img/icon/info.png');
}

.success
{
color: #4F8A10;
background-color: #DFF2BF;
background-image:url('../img/icon/tick.png');
}

.warning
{
color: #9F6000;
background-color: #FEEFB3;
background-image: url('../img/icon/warning.png');
}

.error
{
color: #D8000C;
background-color: #FFBABA;
background-image: url('../img/icon/error.png');
}

.download
{
border: none;
background-image: url('../img/icon/download.png');
}

/*
Tables
*/

table { }

	table td, table th
	{
	padding: 0.4em 10px;
	}

	table th
	{
	font-weight: bold;
	}

	table tr.first
	{
	border-top: 1px solid #dedede;
	  /* when no thead, first row needs top border */
	}

            table tr.failed
            {
                background-color: #FFBABA;
            }

	table td
	{
	border-left: 1px solid #dedede;
	border-bottom: 1px solid #dedede;
	vertical-align: top;
	}

		table thead td
		{
		font-size: 80%;
		}

		table tfoot td
		{
		border: none;
		}

		table tbody td.first, table thead td.first
		{
		border-left: none;
		}

	table tfoot
	{
	text-align: right;
	}

	table thead th, table tbody tr th
	{
	background-color: #dedede;
	}

		table thead th
		{
		vertical-align: middle;
		}

		table tbody th
		{
		vertical-align: top;
		}

			table tbody tr th.light
			{
			background-color: transparent;
			border-left: 1px solid #dedede;
			border-bottom: 1px solid #dedede;
			}

/*
Helpers
*/

.clearfix:after, .inner:after
{
content:".";
display:block;
height:0;
clear:both;
visibility:hidden;
margin: 0;
padding: 0;
}
.clearfix, .inner {display:inline-block;}
.clearfix, .inner {display:block;}
* html .clearfix, * html .inner {height: 1%;}

a span.text-only
{
display: block;
position: absolute;
left: -9999px;
}
